html {
    box-sizing: border-box;
    background-color: whitesmoke;
  }

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  a {
    text-decoration: none; 
  }

  li {
    list-style: none;
  }

/* resetting basic style parameters */

/* styling header  */
header {
  width: 100vw; 
  height: 100vh; 
  background-color: black;
}

.header-index {
  background-image: url('../images/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* styling title (name) */

.nametitle {
  display: flex; 
  justify-content: center;
  align-items: center;
  transition: 1.6s ease; 
  position: absolute; 
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#homename {
  color: white; 
  font-size: 30px;
  letter-spacing: 10px;
  padding-top: 0.5em; 
  transition: font-size 1.6s ease, letter-spacing 1.6s ease; 
}

#homename:hover {
  color: grey; 
}

/* end styling title */

/* styling navigation bar */
.nav-bar {
  padding-top: 5em; 
  padding-right: 1em; 
}

.nav-menu {
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item {
  list-style: none;
  display: flex; 
  color: white; 
  padding-left: 1em; 
  padding-right: 1em; 
}

.nav-item a{
  text-decoration: none;
  color: white; 
}

.nav-item a:hover {
  color: black; 
}

.hamburger {
  display: none; 
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  
  .nav-bar {
    padding-right: 0; 
  }

  .sep {
    display: none; 
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: grey;
    opacity: 75%;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
      left: 0;
      top: 7rem; 
      border-color: black; 
      border-width: 2px; 
      border-style: solid; 
  }

  .nav-item {
      padding: 2rem 1rem;
      border-radius: 10px; 
  }
  .nav-item a {
    color: white; 
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

}

/* end styling navigation bar */

/* styling fading background */

.fade-background {
  position: absolute; 
  background-color: black; 
  width: 100vw; 
  height: 100vh; 
  opacity: 1; 
  transition: opacity 2s ease; 
}

/* end styling fading background */

/* styling footer */

footer {
  background-color: rgb(36, 34, 34);
  height: 100px; 
  color: rgb(116, 105, 105);
  display: flex; 
  justify-content: center;
  align-items: center;
}

.footer-item {
  padding-top: 0px; 
  font-size: 24px;
  padding-bottom: 0px; 
}

.info-logo{
  height: 28px; 
}

/* end styling footer */

/* STYLING ABOUT PAGE */

/* styling header */
.header-about {
  height: 11em; 
  background-image: url('../images/background.jpeg');
  background-size: cover; 
  background-repeat: no-repeat; 
}

.spacer {
  background-color: grey;
  height: 1em; 
}

/* styling content */
.content {
  background-image: url("../images/content.jpg");
  color: white; 
}

.bio-container{
  height: 75vh;
  display: flex; 
  justify-content: center;
}

.headshot {
  max-width: 66%;
  border: 10px solid #d2d2d2;

}

.headshot-container {
  width: 50%; 
  display: flex; 
  justify-content: center;
  align-items: center;
}

.bio-description{
  width: 50%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.bio-description h1{
  text-align: center; 
  padding-top: 0.5em; 
}

.bio-description p{
  text-align: center;
  padding-top: 1em; 
  padding-left: 1em; 
  padding-right: 1em; 
}

.bio-details {
  width: 100%;
  display: flex; 
  flex-direction: column; 
  padding-left: 30%; 
  padding-right: 30%; 
  align-items: flex-start; 

}

.bio-details p {
  padding-left: 0; 
}

.bio-details sub{
  font-size: 0.5em; 
  text-align: center; 
}

@media only screen and (max-width: 768px) {
  .bio-container{
    display: flex; 
    flex-direction: column; 
  }

  .headshot {
    max-width: 50%; 
  }

  .headshot-container {
    width: 100%;
  }
  .bio-description {
    width: 100%; 
  }

}

/* styling publications page */
 .publications-container {
  height: 75vh; 
  width: 100vw; 
  display: flex; 
  justify-content: center;
 }

.publications {
  padding: 1em; 
}

 .publications h1, h3 {
  padding-top: 1em; 
 }

 .publications h3 {
  text-decoration: underline;
 }

 .myname {
  color: red; 
 }

 .publications a:hover {
  color: grey; 
 }