.blog-title
    a.read-featured-blog-post
        display: none

.blog-post-container
    max-width: 800px
    margin: 100px auto 100px auto
    padding: 0 20px
h1, h2
    padding-top: 30px
    padding-bottom: 20px

h3, h4
    padding-bottom: 10px
p
    font-weight: 400
    padding-bottom: 1em
    a
        font-weight: 600
        color: $highlight
        transition: all 0.15s ease-in-out
        &:hover
            color: $secondary

ol
    font-family: "Open Sans", Arial, sans-serif
    margin-block-start: 0
    font-weight: 400
    color: $primary
    li
        padding-bottom: 3px
    li::marker
        color: $secondary

p
    img.pattern-examples
        width: 100%
    img.re-wired-network
        width:100%
        

.footnotes
    p, li::marker
        font-size: 0.8em

table
    padding-bottom: 20px
    tbody
        tr
            td
                padding-left: 30px

ul
    margin: 0
    padding: 0px 0px 10px 30px
    font-family: "Open Sans", Arial, sans-serif
    li
        font-weight: 400
        padding-bottom: 3px
        color: $primary
        a
            font-weight: 600
            color: $highlight
            transition: all 0.15s ease-in-out
            &:hover
                color: $secondary

    li::marker
        color: $secondary

    