<div class="bio" id="blurb">
    <h2>About</h2>
    <p>
        I'm an AI Research Engineer, working on <b>Trustworthy and Secure AI</b>. I do this work at <b>MITRE</b>, 
        a public-interest nonprofit that operates federally funded research centers. 
        All views expressed are my own and do not represent
        those of my employer in any official capacity. 
    </p>
    <p>
        My interests are broad, but united by an aim to 
        do social and environmental good. 
        In the past, this has included climate modeling, dolphin vocalization research, 
        political discourse analysis, freelance translating, low-resouce language tech,
        and data science for 
        a global security nonprofit. 
        Read more about my work at my <a href="{{ site.baseurl }}blog">blog</a>.
    </p>
    <p>
        I earned master's degrees in Mathematics and Linguistics from Oxford, 
        where I studied as a Rhodes Scholar. Prior to Oxford, I earned degrees in Mathematics and German
        from the University of Alabama, with side quests into physics, psychology, and computer science. 
        I spent an academic year in Tanzania as a Boren Scholar, where I earned a fluency certificate in 
        Swahili. For my CV: <a href="{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">professional</a> | <a href="#experience-target">fun</a>.
    </p>
        <br>
        <p class="call-to-contact">Please have a low bar for <a href="{{ site.baseurel }}contact">reaching out</a> if anything piques your interest.<br>
            I would love to hear from you.
        </p>
</div>
