<div class="bio" id="blurb">
    <h2>About</h2>
    <p>My interests are very broad, but generally united by an aim to 
        do social and environmental good. 
        In the past, this has included dolphin vocalization research, 
        political discourse analysis, freelance translating, and data science for 
        a global security nonprofit.
        At the moment, this means
        working on <b>AI Safety</b> and <b>AI for Climate</b>. In the former, 
        I seek to make models resistant to malicious manipulation 
        while ensuring their behavior is aligned with human values, drawing on ideas
        from <b>adversarial robustness</b>, <b>alignment</b>, and <b>interpretability</b> while
        advocating for <b>technical AI governance</b>. 
        In the latter, I aim to apply the most powerful technical tools of our time to one
        of the most pressing global issues of our time, with interests in 
        the <b>East African Climate Paradox</b>, <b>Energy Optimization</b>, and <b>Natural Disaster Mitigation</b>. 
        Read more about my work at my <a href="{{ site.baseurl }}blog">blog</a>.
    </p>
    <br>
    <p>
        I earned master's degrees in Mathematics and Linguistics from Oxford, 
        where I studied as a Rhodes Scholar. Prior to Oxford, I earned degrees in Mathematics and German
        from the University of Alabama, with some side quests into physics, psychology, and computer science. 
        I also spent an academic year in Tanzania as a Boren Scholar, where I earned a fluency certificate in 
        Swahili. For my CV: <a href="{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">professional</a> | <a href="#experience-target">fun</a>.
    </p>
    <br>
    <p>
        Outside of my work, I am one or more of the following:</p>
        <p>yo-yoer (1A, 5A), speedcuber, aspiring mandolinist, ultramarathoner, 
            cyclist, language enthusiast, and writer. 
        </p>
        <br>
        <p class="call-to-contact">Please have a low bar for <a href="{{ site.baseurel }}contact">reaching out</a> if anything piques your interest.<br>
            I would love to hear from you.
        </p>
</div>