<hr>
<footer class="footer-wrapper">
    <div class="footer-name">
        <p>&copy; 2024 Nick Hayes | </p>
    </div>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/nicholas-hayes14/" target="_blank" rel="noopener">
            <i class="fab fa-linkedin"></i>
          </a>
          <!-- <a href="https://github.com/nickphayes" target="_blank" rel="noopener">
            <i class="fab fa-github"></i>
          </a> -->
          <a href="https://scholar.google.com/citations?user=FRwzDgYAAAAJ&hl=en" target="_blank" rel="noopener">
            <i class="fas fa-graduation-cap"></i> <!-- Using 'graduation-cap' for Google Scholar -->
          </a>
    </div>

</footer>
  