<hr>
<br>
<h2 class="publications">Academic Work</h2>
<div class="publications-content-wrapper">
    {% for category in site.data.publications %}
        <h3>{{ category.category }}</h3>
        <hr>
        <ul>
            {% for paper in category.papers %}
                <li class="publication-item">
                    <!-- Add an image on the left -->
                    <img src="{{ paper.image }}" alt="Publication image" class="publication-img">
                    
                    <!-- Publication details -->
                    <div class="publication-info">
                        <h4>{{ paper.title }}</h4>
                        <p>{{ paper.authors }}</p>
                        <p>{{ paper.venue }}</p>
                        <div class="pub-buttons">
                            <a href="{{ paper.pdf }}" target="_blank" rel="noreferrer noopener" class="btn">PDF</a>
                            {% if paper.blogpost %}
                            <a href="{{ site.baseurl }}{{ paper.blogpost }}" target="_blank" rel="noreferrer noopener" class="btn blog-btn">Blog Post</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>
